.skills-grade{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}
.skills-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    width: 60em;
}
.skills .skills-titulo{
    font-size: large;
    border: 3px solid rgb(255, 13, 13);
    margin: 10px;
    padding: 5px;
}
.skills .skills-descripition{
    font-size: small;
    border: 3px solid rgb(255, 13, 13);
    margin: 10px;
    padding: 5px;
}
.skills .skills-level{
    font-size: small;
    border: 3px solid rgb(255, 13, 13);
    margin: 10px;
    padding: 5px;
}