.home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

  .letter{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30rem;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    line-height: 0.7
  }

  #circulo {
    background: #bc0594;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    position: absolute; 
    z-index: 1;
    left: 50%;
    top:25%;
    transform: translateX(-50%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

  .home img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    left: 50%;
    top:25%;
    transform: translateX(-50%);
    object-fit: cover;
    position: absolute;
    z-index: 2;
    }

    .floating_letters {
        border-right: 2px solid beige;
        color: beige;
        font-size: 3em;
        z-index: 3;
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        left: 7%;
        top: 50%;
    }
    

    .type-animation{
      animation: blinkCursor 500ms infinite normal, typing 4s steps(40) 1s normal both;
    }
    @keyframes typing{
      from{
        width: 0;
      }
      to{width: 10em;}
    }
    @keyframes blinkCursor{
      from{
        border-right-color: beige;
      }
      to{
        border-right-color:transparent;
      }
    }