.skills-grade {
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    background: linear-gradient(-180deg, #000000, #480f3c); /* Gradiente roxo com preto */
}

.skills-action {
    display: flex;
    flex-wrap: wrap; /* Permitir que os cards se organizem em várias linhas */
    justify-content: center;
}

.skill-card {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 20px;
    perspective: 1000px;
}

.skill-card .skill-front, .skill-card .skill-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(145deg, #bc0594, #45043a);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.skill-card .skill-front {
    transform: rotateY(0deg);
}

.skill-card .skill-back {
    transform: rotateY(180deg);
}

.skill-card.flipped .skill-front {
    transform: rotateY(180deg);
}

.skill-card.flipped .skill-back {
    transform: rotateY(0deg);
}

.skills .skills-titulo {
    font-size: 2rem; /* Aumentar o tamanho do título */
    margin: 10px;
    padding: 5px;
}

.skills .skills-level {
    font-size: 1rem; /* Diminuir o tamanho do nível */
    margin: 10px;
    padding: 5px;
}

.skills .skills-descripition {
    font-size: small;
    margin: 10px;
    padding: 5px;
    border: none;
}